@font-face {
    font-family: 'SF-Pro-Display';
    src: url('../src/fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
        url('../src/fonts/SF-Pro-Display-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url('../src/fonts/SF-Pro-Display-Medium.woff2') format('woff2'),
        url('../src/fonts/SF-Pro-Display-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url('../src/fonts/SF-Pro-Display-Semibold.woff2') format('woff2'),
        url('../src/fonts/SF-Pro-Display-Semibold.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url('../src/fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
        url('../src/fonts/SF-Pro-Display-Bold.woff') format('woff');
    font-weight: 700;
}

html {
    scroll-padding-top: 120px;

    @media (max-width: 575px) {
        scroll-padding-top: 75px;
    }
}


/* Base Styles */
body {
    font-family: 'SF-Pro-Display', sans-serif;
    font-size: 18px;
    line-height: 1.2;
}

a {
    color: #CA599F;
    text-decoration: none;
    text-underline-offset: 4px;

    &:hover {
        text-decoration: underline;
    }
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;

    @media (max-width: 575px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.custom-container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;

    @media (max-width: 1199px) {
        max-width: 880px;
    }

    @media (max-width: 991px) {
        max-width: 720px;
    }
}

.section-title {
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 50px;

    @media (max-width: 1199px) {
        font-size: 50px;
    }

    @media (max-width: 575px) {
        font-size: 32px;
        margin-bottom: 25px;
    }
}

.section-text {
    font-size: 32px;

    @media (max-width: 1199px) {
        font-size: 28px;
    }

    @media (max-width: 575px) {
        font-size: 22px;
    }
}

.img-object-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-light {
    background-color: #F4F4F4 !important;
}

.bg-dark {
    background-color: #101010 !important;
}

.bg-dark-light {
    background-color: #2D2D2D;
}

.bg-secondary {
    color: #3C3C3C;
    background-color: #CACACA !important;
}

.bg-secondary-dark {
    color: #fff;
    background-color: #101010 !important;
}

.bg-grey {
    color: #fff;
    background-color: #414141;
}

.bg-blue {
    background-color: #147AFF;
}

.bg-pink {
    background-color: #FFEDED;
}

.bg-green-light {
    background-color: #E3FFEC;
}

.bg-yellow-light {
    background-color: #FFF5E3;
}

.text-grey-light {
    color: #989898;
}

.text-blue {
    color: #147AFF;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-dark-light {
    background-color: #212121;

    &:hover {
        background-color: #212121;
    }
}

.btn-blue {
    background-color: #147AFF;
    color: #fff;
    transition: all .2s;

    &:hover {
        background-color: darken(#147AFF, 7);
        color: #fff;
    }
}

.badge {
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;

    @media (max-width: 575px) {
        padding: 4px 13px;
        font-size: 12px;
        font-weight: 400;
    }
}

.icon-wrap-dark,
.icon-wrap-light {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50rem;
    transition: all .2s;

    &.more {
        width: fit-content;
        padding: 0 20px;
        gap: 16px;
        font-size: 20px;
        text-decoration: none;

        svg {
            width: 20px;
            height: 20px;
        }

        @media (max-width: 575px) {
            padding: 0 30px;

            svg {
                width: 15px;
                height: 15px;
            }
        }
    }

    svg {
        width: 25px;
        height: 25px;
    }

    @media (max-width: 575px) {
        width: 70px;
        height: 35px;

        svg {
            width: 20px;
            height: 20px;
        }
    }


}

.icon-wrap-dark {
    background-color: #101010;
    color: #fff;

    &:hover {
        box-shadow: 0 0 10px #101010;
    }

    svg {
        fill: #fff;
    }
}

.icon-wrap-light {
    background-color: #fff;
    color: #000;

    &:hover {
        box-shadow: 0 0 10px #fff;
    }

    svg {
        fill: #101010;
    }
}

.underline-blue {
    white-space: nowrap;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 8px;
    text-underline-offset: 8px;
    text-decoration-color: #147AFF;

    @media (max-width: 575px) {
        white-space: normal;
        text-decoration-thickness: 6px;
        text-underline-offset: 6px;
    }
}

.error-border {
    border: 2px solid red !important;
}

/* Card Styles */
.card {
    border: none;
    border-radius: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }
}

.card-body {
    padding: 40px;

    .card-title {
        font-size: 40px;
        font-weight: 600;
        line-height: 1;
    }

    .card-text {
        font-size: 24px;
        line-height: 1.1;
    }

    @media (max-width: 1199px) {
        padding: 34px;
    }

    @media (max-width: 575px) {
        padding: 16px;

        .card-title {
            font-size: 24px;
        }

        .card-text {
            font-size: 18px;
        }
    }

}

.custom-card-body {
    padding: 24px;

    .title {
        font-size: 26px;
        font-weight: 600;
        line-height: 1;

        @media (max-width: 1199px) {
            font-size: 22px;
        }
    }

    .number {
        font-size: 14px;
        opacity: 50%;
    }

    .img-wrap {
        border-radius: 30px;
    }
}

.card-body-mini {
    padding: 20px;
    border-radius: 20px;

    .title {
        font-size: 25px;
        font-weight: 600;
        line-height: 1;

        @media (max-width: 575px) {
            font-size: 22px;
        }
    }

    .number {
        font-size: 16px;
        opacity: 50%;
    }
}

/* Carousel Styles */
.carousel {
    .carousel-inner {
        position: static;
    }

    .carousel-indicators {
        top: -62px;
        bottom: auto;
        justify-content: end;

        & [data-bs-target] {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #989898;

            &.active {
                background-color: #147AFF;
            }
        }

        @media (max-width: 991px) {
            margin-right: 125px;
            margin-left: auto;
        }

        @media (max-width: 575px) {
            top: auto;
            bottom: -65px;
            margin-right: auto;
            justify-content: center;
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        top: -70px;
        width: 50px;
        height: 50px;
        background-color: transparent;

        svg {
            width: 30px;
            height: 30px;
            fill: #989898;

            &:hover {
                fill: darcen(#989898, 15);
            }
        }

        @media (max-width: 575px) {
            display: none;
        }
    }

    .carousel-control-prev {
        right: 70px;
        left: auto;
    }

    .carousel-control-next {
        right: 0;
    }
}

// Modal 
.custom-modal.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    z-index: 9999;

    &.show {
        display: flex;
    }

    .modal-content {
        background: white;
        padding: 60px;
        border-radius: 0;
        max-width: 600px;
        width: 90%;
        text-align: center;

        @media (max-width: 575px) {
            padding: 30px 16px;
        }

        .dp {
            margin: 0 auto 10px;
            width: 105px;
            height: 77px;
            fill: #BCBCBC;

            @media (max-width: 575px) {
                width: 110px;
                height: 80px;
                margin-bottom: 10px;
            }
        }

        h2 {
            font-size: 36px;
            font-weight: 600;

            @media (max-width: 575px) {
                font-size: 26px;
            }
        }

        // p:not(.error-message) {
        //     font-size: 18px;

        //     @media (max-width: 575px) {
        //         font-size: 16px;
        //     }
        // }

        .message-error {
            color: #DB2626;
            line-height: 1;

            .title {
                display: block;
                font-size: 26px;
                font-weight: 500;
            }

            .text {
                display: block;
                font-size: 22px;
            }
        }

        .message-success {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            pointer-events: none;
            padding-bottom: 60px;
            background-color: #fff;
            z-index: 2;

            .title {
                margin-bottom: 24px;
                font-size: 58px;
                font-weight: 600;
                line-height: 1;

                span {
                    color: #147AFF;
                }
            }

            .text {
                font-size: 30px;
                line-height: 1;
            }

            .dp {
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                width: 40px;
                height: 40px;
            }
        }

        .close-modal {
            width: 25px;
            height: 25px;
            fill: #989898;

            position: absolute;
            top: 16px;
            right: 16px;
            z-index: 3;
            cursor: pointer;
        }

        .form-control {
            background-color: #DFDFDF;
            border: none;
        }

        .btn {
            padding: 8px 50px;
        }
    }
}

/* Form styles */
.contact-form {
    .form-control {
        padding: 12px 40px;
        font-size: 22px;
        border-radius: 50px;

        @media (max-width: 1199px) {
            padding: 12px 40px;
        }

        @media (max-width: 575px) {
            padding: 8px 25px;
            font-size: 14px;
        }
    }

    .form-check-input {
        appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid transparent;
        border-radius: 4px;
        background-color: #575757;
        cursor: pointer;
    }

    .form-check-input:checked {
        --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 352' fill='none'%3e%3cpath opacity='0.967' fill-rule='evenodd' clip-rule='evenodd' d='M511.5 13.5C511.5 19.167 511.5 24.833 511.5 30.5C509.92 33.263 508.087 35.93 506 38.5C406.139 138.694 305.973 238.527 205.5 338C177.685 356.439 150.352 355.772 123.5 336C83.6667 296.167 43.8333 256.333 4 216.5C2.19914 213.563 0.699136 210.563 -0.5 207.5C-0.5 204.5 -0.5 201.5 -0.5 198.5C5.01994 182.929 15.6866 177.762 31.5 183C72.139 222.639 112.472 262.639 152.5 303C160.621 308.495 168.954 308.828 177.5 304C277.167 204.333 376.833 104.667 476.5 5.00003C490.961 -3.22297 502.627 -0.389674 511.5 13.5Z' fill='%23fff'/%3e%3c/svg%3e");
        background-color: #444242;
        background-size: 85%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .input-wrapper {
        .error-message {
            text-align: center;
            font-size: 14px;
            width: 90%;
            color: red;
            padding: 5px 15px;
            background-color: #DFDFDF;
            border: 1px solid red;
            border-radius: 50px;

            position: absolute;
            bottom: -2px;
            left: 50%;
            transform: translateX(-50%);

            @media (max-width: 575px) {
                font-size: 10px;
                padding: 2px 10px;
                bottom: -6px;
            }
        }
    }

    &.popup {
        .error-message {
            background-color: #f9f7f7;
        }

        .form-check-input {
            background-color: #DFDFDF;
        }

        .form-check-input:checked {
            background-color: #b2b2b2;
        }
    }

    .loader {
        width: 100px;
        height: 100px;
        border: 10px solid #c2dcff;
        border-top: 10px solid #147AFF;
        border-radius: 50%;
        animation: spin 2s linear infinite;

        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        z-index: 2;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .notification {
        padding: 50px;
        text-align: center;
        background-color: #fff;
        font-size: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        @media (max-width: 575px) {
            padding: 30px;
            font-size: 30px;
        }

        &.success {
            border: 4px solid #3eb63e;
            color: #3eb63e;
        }

        &.danger {
            border: 4px solid red;
            color: red;
        }
    }
}

.btn {
    padding: 8px 32px;
    border-radius: 50rem;
    font-size: 22px;

    @media (max-width: 575px) {
        padding: 6px 25px;
        font-size: 18px;
    }
}

// Header
.navbar {
    padding-top: 34px;
    padding-bottom: 34px;

    @media (max-width: 575px) {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .navbar-brand svg {
        width: 186px;
        height: 37px;
        fill: #fff;
    }

    .link-phone {
        color: #fff;
    }

    .phone {
        width: 18px;
        height: 18px;
        fill: #fff;
    }

    .social-wrap {
        .social-item {
            width: 50px;
            height: 50px;
            background-color: #212121;

            svg {
                width: 25px;
                height: 25px;
                fill: #fff;
            }
        }
    }

}

// верхняя секция на каждой странице кроме index
.section-header {
    .title {
        font-size: 175px;
        font-weight: 600;

        @media (max-width: 1199px) {
            font-size: 100px;
        }

        @media (max-width: 767px) {
            font-size: 80px;
        }

        @media (max-width: 575px) {
            font-size: 65px;
        }
    }

    .title-dep-ex {
        font-size: 120px;
        font-weight: 600;

        @media (max-width: 1199px) {
            font-size: 70px;
        }

        @media (max-width: 767px) {
            font-size: 50px;
        }
    }

    .desc {
        font-size: 32px;

        @media (max-width: 767px) {
            font-size: 28px;
        }
    }

    .img {
        width: 245px;
        aspect-ratio: 1/1;

        @media (max-width: 1199px) {
            width: 180px;
        }

        @media (max-width: 767px) {
            width: 150px;
        }

        @media (max-width: 575px) {
            width: 120px;
        }

        &.dept-space {
            fill: #147AFF;
        }
    }
}

// Hero Section
.hero-section {
    color: white;
    width: 100%;
    min-height: calc(100vh - 114px);

    @media (max-width: 575px) {
        min-height: calc(100vh - 76px);
        background-image: url('../src/dept.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .background-video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;

        @media (max-width: 575px) {
            .background-video {
                height: calc(100vh - 76px);
            }
        }
    }

    .main-content {

        .title {
            font-size: 75px;
            font-weight: 700;
            line-height: 1;
            max-width: 13500px;
            margin: 0 auto 100px;

            @media (max-width: 1199px) {
                font-size: 60px;
            }

            @media (max-width: 575px) {
                font-size: 40px;
                margin: 0 auto 40px;
            }
        }

        .btn-enrolment {
            gap: 24px;
            background-color: rgba(255, 255, 255, 0.09);
            padding: 10px 40px;
            backdrop-filter: blur(20px);
            font-size: 25px;
            color: #fff;
            text-decoration: none;

            @media (max-width: 1199px) {
                gap: 18px;
                padding: 8px 40px;
                font-size: 18px;
            }

            .avatar-btn {
                display: inline-block;
                width: 45px;
                height: 45px;

                @media (max-width: 1199px) {
                    width: 35px;
                    height: 35px;
                }
            }

            .avatar-btn:nth-child(2) {
                margin-left: -40px;
            }

            .chevron-right {
                width: 23px;
                height: 23px;
                fill: #fff;

                @media (max-width: 1199px) {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
}

// --- 


/* Our Approach Section */
.our-approach {

    .our-approach-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        @media (max-width: 1199px) {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    .match,
    .car-engine {
        height: 250px;
        border-radius: 50px;
        overflow: hidden;

        @media (max-width: 575px) {
            border-radius: 30px;
        }
    }

    .car-engine {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            text-align: center;
            font-size: 60px;
            font-weight: 600;
            color: #C7C7C7;
            max-width: 500px;

            @media (max-width: 575px) {
                font-size: 32px;
            }
        }

        img {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            max-width: 95%;
            max-height: 95%;
        }
    }
}


/* ---  */

/* About Us Section */
.about-us {
    .seo-avatar-wrap {
        width: 135px;
        height: 135px;

        @media (max-width: 575px) {
            width: 90px;
            height: 90px;
        }


    }

    .badge {
        font-size: 18px;
        padding: 6px 12px;

        @media (max-width: 575px) {
            font-size: 14px;
            padding: 4px 12px;
        }
    }

    .seo-avatar-title {
        font-size: 28px;
        font-weight: 600;

        @media (max-width: 575px) {
            font-size: 20px;
        }

        span {
            font-size: 24px;
            padding-left: 16px;
        }
    }

    .quote-symbol {
        font-size: 32px;
        font-weight: 700;

        @media (max-width: 575px) {
            font-size: 20px;
        }
    }
}

/* ---  */

/* Products Section */
.products {
    .products-item:not(:last-child) {
        margin-bottom: 50px;

        @media (max-width: 575px) {
            margin-bottom: 50px;
        }
    }

    .products-item {
        display: grid;
        gap: 30px;
        grid-template-columns: 5fr 4fr;

        @media (max-width: 1199px) {
            grid-template-columns: 1fr;
            gap: 20px;
        }

        .card-preview,
        .card-details {
            min-height: 300px;
            padding: 35px;

            @media (max-width: 575px) {
                padding: 16px;
            }
        }

        .card-preview {
            overflow: hidden;

            .content-wrap {

                .title,
                .d-flex {
                    width: 65%;
                }
            }

            .category {
                font-size: 25px;
            }

            .title {
                font-size: 70px;
                font-weight: 700;
                line-height: 1;

                &.title-card-1 {
                    font-size: 42px;

                    @media (max-width: 575px) {
                        font-size: 36px;
                    }
                }
            }

            .img-item-1 {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 40%;

                @media (max-width: 575px) {
                    display: none;
                }
            }

            .img-item-2 {
                fill: #147AFF;
            }

            .img-item-2,
            .img-item-3,
            .img-item-4 {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 25px;
                width: 30%;
                aspect-ratio: 1/1;


                @media (max-width: 575px) {
                    right: clamp(-2.5rem, -8.722rem + 28.44vw, 1.5rem);
                    width: 150px;
                }
            }

            .img-item-3 {
                @media (max-width: 575px) {
                    transform: translateY(-50%) rotate(-13deg);
                }
            }
        }

        .card-details {
            .description {
                font-size: 22px;
                line-height: 1;
            }

            .action-link {
                text-decoration: none;
            }
        }

        @media (max-width: 575px) {

            .card-preview,
            .card-details {
                min-height: 200px;
            }

            .card-preview {
                .category {
                    font-size: 16px;
                }

                .title {
                    font-size: 35px;
                }
            }

            .card-details {
                .description {
                    font-size: 16px;
                }

                .action-link {
                    font-size: 16px;
                }
            }
        }
    }
}

/* ---  */

/* Projects Section  */
.projects {
    .section-title span {
        background-color: #147AFF;
        color: #fff;
        padding: 0 8px;
        white-space: nowrap;
    }

    .projects-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        @media (max-width: 1199px) {
            grid-template-columns: 1fr;
            gap: 20px;
        }

        .title {
            font-size: 40px;
            font-weight: 600;
            line-height: 1;
            @media (max-width: 575px) {
                font-size: 26px; 
            }
        }

        .text {
            font-size: 22px;
            line-height: 1;
            @media (max-width: 575px) {
                font-size: 16px; 
            }
        }

        .card-1,
        .card-2 {
            width: 100%;
            height: auto;
            padding-bottom: 35%;
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: contain;
        }

        .card-1 {
            background-image: url(../src/project-1.png);
        }

        .card-2 {
            background-image: url(../src/project-2.png);

            svg {
                width: 40px;
                height: 40px;
                fill: red;

                @media (max-width: 575px) {
                    height: 26px;
                }
            }
        }
    }
}

/* ---  */

/* Testimonials Section */
.testimonials {
    .carousel-inner {
        gap: 50px;
    }

    .carousel-item {
        .avatar {
            width: 70px;
            height: 70px;

        }

        .avatar-name {
            font-size: 24px;
        }

        .text {
            font-size: 32px;

            @media (max-width: 1199px) {
                font-size: 24px;
            }
        }
    }
}

/* ---  */

/* Contact Form Section */
.contact-area {
    .contact-area-wrap {
        position: relative;
        background-color: #000;
        padding: 60px;

        .title {
            font-size: 48px;
            font-weight: 600;
            margin-bottom: 50px;
        }

        @media (max-width: 575px) {
            padding: 16px;

            .title {
                font-size: 32px;
                margin-bottom: 25px;
            }
        }
    }

    .form-control {
        background-color: #575757;
        border: none;
    }

    .form-control::placeholder {
        color: #fff;
    }

    .form-check-input {
        margin-top: 2px;
    }

    .form-check-label {
        @media (max-width: 575px) {
            font-size: 12px;
        }
    }

    .btn {
        margin-top: 50px;

        @media (max-width: 575px) {
            margin-top: 25px;
            width: 100%;
        }

        .chevron-right {
            width: 18px;
            height: 18px;
            fill: #fff;
            margin-left: 10px;
        }
    }

    .contact-area-logo-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 475px;
        width: 100%;
        aspect-ratio: 1/1;

        @media (max-width: 1199px) {
            display: none;
        }

        .img {
            width: 65%;
            height: 65%;

            &.dep-space {
                fill: #fff;
            }
        }
    }

    .contact-area-start {
        max-width: 500px;
        width: 100%;
        aspect-ratio: 1/1;
    }
}

/* ---  */

/* Footer Styles */
.footer {
    background-color: #101010;

    .footer-nav {
        .nav-item {
            list-style: none;
        }

        .nav-link {
            color: #fff;
            font-size: 20px;
        }
    }



    .social-item {
        width: 50px;
        height: 50px;
        background-color: #212121;
        transition: all .2s;

        &:hover {
            box-shadow: 0 0 10px #212121;
        }

        svg {
            width: 25px;
            height: 25px;
            fill: #fff;
        }
    }

    .client-wrap {
        gap: 44px;

        @media (max-width: 575px) {
            gap: 20px;

            .client-item img {
                max-height: 55px;
            }
        }
    }

    @media (max-width: 575px) {
        .section-title {
            font-size: 32px;
        }
    }
}

/* Стили для модального окна */


/* Page start  */

/* Course Details Section  */
.course-details {
    .details-flex {
        display: flex;
        gap: 20px;

        @media (max-width: 1199px) {
            flex-direction: column;
        }
    }

    .details-card-1,
    .details-card-2 {
        @media (max-width: 1199px) {
            flex: 0 1 auto;
        }

        .card-body {
            padding: 32px;

            @media (max-width: 575px) {
                padding: 16px;
            }
        }
    }

    .details-card-1 {
        flex: 0 1 60%;

        h2.title {
            font-size: 40px;
            font-weight: 600;
            line-height: 1;

            @media (max-width: 575px) {
                font-size: 30px;
            }
        }

        .category {
            font-size: 18px;
            margin-bottom: 35px;
        }

        .price {
            width: 25px;
            height: 25px;
        }

        .description {
            font-size: 24px;
            line-height: 1;
            width: 60%;
            margin-bottom: 80px;

            @media (max-width: 575px) {
                width: 100%;
                font-size: 18px;
                margin-bottom: 35px;
            }
        }

        .details-img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 45%;

            @media (max-width: 575px) {
                display: none;
            }
        }

        @media (max-width: 1199px) {
            .card-body {
                min-height: 400px;
            }
        }

        @media (max-width: 575px) {
            .card-body {
                min-height: auto;
            }
        }
    }

    .details-card-2 {
        flex: 0 1 45%;
        line-height: 1;

        .details-card-grid {
            display: grid;
            gap: 25px;
            grid-auto-rows: 125px;
            grid-template-columns: repeat(2, 1fr);

            @media (max-width: 575px) {
                grid-template-columns: 1fr;
                gap: 16px;
            }

        }

        .grid-item-1,
        .grid-item-4 {
            grid-column: 1 / -1;
        }

        .big-number {
            font-size: 35px;
        }
    }
}

/* ---  */

/* Course Benefits Section  */
.course-benefits {
    .benefits-title {
        display: inline-block;
        padding: 20px;
        font-size: 45px;
        font-weight: 600;
        background-color: #F4F4F4;

        @media (max-width: 1199px) {
            font-size: 35px;
        }

        @media (max-width: 575px) {
            padding: 15px;
            font-size: 24px;
        }
    }

    .benefits-grid {
        display: grid;
        width: 100%;
        grid-template-columns: auto auto auto auto;
        justify-content: space-between;

        @media (max-width: 1199px) {
            grid-template-columns: auto auto;
            gap: 20px;
        }

        @media (max-width: 575px) {
            grid-template-columns: auto;
        }

        .benefits-icon {
            width: 40px;
            height: 40px;
            fill: #000;

            @media (max-width: 575px) {
                width: 25px;
                height: 25px;
            }
        }

        .text {
            font-size: 24px;

            @media (max-width: 575px) {
                font-size: 20px;
            }
        }
    }

    .benefits-value {
        font-size: 80px;

        @media (max-width: 1199px) {
            font-size: 60px;
        }

        @media (max-width: 575px) {
            font-size: 40px;
        }
    }

    .benefits-forever {
        font-weight: 400;
    }
}

/* ---  */

/* Target Audience Section */
.target-audience {
    .audience-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 180px;
        gap: 25px;
        grid-template-areas:
            "item-1 item-1 item-2 item-2 item-3"
            "item-4 item-4 item-4 item-4 item-3"
            "item-5 item-5 item-6 item-6 item-6";

        .item-1 {
            grid-area: item-1;
        }

        .item-2 {
            grid-area: item-2;
        }

        .item-3 {
            grid-area: item-3;
            font-size: 100px;
            font-weight: 600;

            @media (max-width: 991px) {
                font-size: 60px;
            }
        }

        .item-4 {
            grid-area: item-4;
            background-color: #F4F4F4;
            color: #000;

            @media (max-width: 991px) {
                background-color: #101010;
                color: #fff;
            }
        }

        .item-5 {
            grid-area: item-5;
            background-color: #101010;
            color: #fff;

            @media (max-width: 991px) {
                background-color: #F4F4F4;
                color: #000;
            }
        }

        .item-6 {
            grid-area: item-6;
        }

        @media (max-width: 991px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
                "item-1 item-1 item-3"
                "item-2 item-2 item-2"
                "item-4 item-4 item-5"
                "item-4 item-4 item-5"
                "item-6 item-6 item-6";

        }

        @media (max-width: 575px) {
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: 155px;
            gap: 16px;
            grid-template-areas:
                "item-1"
                "item-2"
                "item-3"
                "item-4"
                "item-5"
                "item-6";
        }
    }


}

/* ---  */

/* Page d-space  */

/* Course Features Section */
.course-features {
    .features-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 170px;
        gap: 25px;
        grid-template-areas:
            "item-1 item-2 item-2 item-3"
            "item-4 item-4 item-5 item-5";

        @media (max-width: 1199px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "item-1 item-3"
                "item-2 item-2"
                "item-4 item-4"
                "item-5 item-5";
        }

        @media (max-width: 575px) {
            gap: 16px;
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas:
                "item-1"
                "item-2"
                "item-3"
                "item-4"
                "item-5";
        }

        .item-1 {
            grid-area: item-1;

            .youtube {
                width: 40px;
                height: 40px;
                fill: #fff;
            }
        }

        .item-2 {
            grid-area: item-2;

            .features-live {
                font-size: 20px;
                padding: 4px 15px;
                background-color: #ED3131;
            }

            .live-rounded {
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-right: 5px;
                background-color: #fff;
                border-radius: 50%;
            }
        }

        .item-3 {
            grid-area: item-3;
        }

        .item-4 {
            grid-area: item-4;
            background-image: url(../src/features-card-4.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom right;
        }

        .item-5 {
            grid-area: item-5;
            background-image: url(../src/features-card-5.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom right;
        }
    }
}

/* ---  */

/* Levels of Education Section */
.levels-of-education {
    .education-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;

        @media (max-width: 1199px) {
            grid-template-columns: 1fr;
        }

        .card-1 {
            background-color: #EDF4FF;
        }

        .card-2 {
            background-color: #FFF5E3;
        }

        .circle-1,
        .circle-2 {
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }

        .circle-1 {
            background-color: #3586FF;
        }

        .circle-2 {
            background-color: #FFB835;
        }

        .title {
            font-size: 45px;
            font-weight: 600;
        }

        .text {
            font-size: 25px;
        }

        .price {
            width: 30px;
            height: 30px;
        }
    }
}

/* ---  */

/* Format of Learning Section */
.format-of-learning {
    .learning-grid {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: 991px) {
            grid-template-columns: repeat(1, 1fr);

            .card-1,
            .card-2,
            .card-3 {
                max-width: 350px;
                width: 100%;
            }

            .card-1 {
                justify-self: start;
            }

            .card-2 {
                justify-self: center;
            }

            .card-3 {
                justify-self: end;
            }
        }

        @media (max-width: 575px) {
            background-image: none;
        }

        .img-wrap {
            padding: 16px;
            margin-bottom: 16px;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .learning-say {
            padding: 15px 25px;
            font-size: 25px;
            border: 2px solid #000;
            border-radius: 50rem;

            @media (max-width: 1199px) {
                padding: 15px 15px;
                font-size: 20px;
            }
        }
    }
}

/* ---  */

/* Duration Section  */
.duration {
    .calendar {
        width: 60px;
        height: 60px;
    }

    .description {
        font-size: 28px;

        @media (max-width: 575px) {
            font-size: 20px;
        }

        &.bold {
            font-weight: 500;
        }
    }
}

/* ---  */


/* Target Audience Section  */
.audience-list {
    .audience-grid {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: 1199px) {
            grid-template-columns: 1fr;
        }

        .card-1,
        .card-2,
        .card-3 {
            display: grid;
            grid-template-columns: 1fr;

            @media (max-width: 1199px) {
                grid-template-columns: 1fr 1fr;
                align-items: center;
                gap: 25px;
            }

            @media (max-width: 575px) {
                grid-template-columns: 1fr;
            }

            .img-wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 190px;
                margin-bottom: 16px;

                img {
                    width: 90%;
                    height: 90%;
                    object-fit: contain;
                }
            }
        }

        .card-2 {
            .img-text {
                font-size: 22px;
            }

            .close {
                width: 15px;
                height: 15px;
                fill: #ED3131;
            }
        }
    }
}

/* ---  */

/* Course Program Section */
.course-program {
    .card-wrap {
        gap: 30px;

        @media (max-width: 575px) {
            gap: 16px;
        }
    }

    .program-card {

        .program-card-content,
        .program-card-img {
            min-height: 350px;
            width: 50%;

            @media (max-width: 991px) {
                min-height: 300px;
                width: 100%;
                border: 1px solid #101010;
            }

            @media (max-width: 575px) {
                min-height: auto;
            }

            .program-title {
                font-size: 32px;
                font-weight: 600;

                @media (max-width: 575px) {
                    font-size: 24px;
                }
            }

            .program-text {
                font-size: 20px;
                opacity: 50%;

                @media (max-width: 575px) {
                    font-size: 18px;
                }
            }
        }
    }
}

/* ---  */

/* Page D-Closed */

/* Features Section */
.edu-features {
    .features-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 170px;
        gap: 30px;
        grid-template-areas:
            "item-1 item-1 item-2 item-2"
            "item-3 item-4 item-5 item-5";

        @media (max-width: 1199px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "item-1 item-1"
                "item-2 item-2"
                "item-5 item-5"
                "item-3 item-4";
        }

        @media (max-width: 575px) {
            grid-auto-rows: 140px;
            gap: 16px;
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas:
                "item-1"
                "item-2"
                "item-5"
                "item-3"
                "item-4";
        }
    }

    .card-1 {
        grid-area: item-1;
        background-image: url(../src/cl-features-1.png);
    }

    .card-2 {
        grid-area: item-2;
        background-image: url(../src/cl-features-2.png);
    }

    .card-3 {
        grid-area: item-3;
        background-image: url(../src/cl-features-3.png);
    }

    .card-4 {
        grid-area: item-4;
    }

    .card-5 {
        grid-area: item-5;
        background-image: url(../src/cl-features-5.png);
    }

    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5 {
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: contain;

        @media (max-width: 575px) {
            background-image: none;
        }
    }
}

/* ---  */

/* Statistics Section */
.statistics {
    .statistics-card {
        padding: 50px;
        background-image: url(../src/statistics-bg.png);
        background-repeat: no-repeat;
        background-size: auto 80%;
        background-position: right bottom;

        @media (max-width: 1199px) {
            background-size: auto 65%;
        }

        @media (max-width: 991px) {
            padding: 16px;
            background-image: none;
        }



        .title {
            font-size: 50px;
            font-weight: 600;

            @media (max-width: 575px) {
                font-size: 30px;
            }
        }

        .text {
            font-size: 20px;
            width: 50%;

            @media (max-width: 991px) {
                width: 100%;
            }
        }

        .tagline {
            color: #484848;
            font-size: 25px;
        }

        .btn-grid {
            display: grid;
            grid-template-columns: repeat(4, 170px);
            gap: 16px 8px;

            @media (max-width: 991px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 575px) {
                // grid-template-columns: repeat(2, 1fr);
            }
        }

        .btn {
            font-size: 20px;
            line-height: 1;
            padding: 8px 40px;
            background-color: #333333;
            text-decoration: none;

            &:hover {
                background-color: #252525;
            }

            @media (max-width: 991px) {
                font-size: 16px;
                padding: 8px 35px;
            }
        }
    }
}

/* ---  */


/* Pricing Section */
.pricing {
    .pricing-flex {
        display: flex;
        align-items: flex-start;
        gap: 25px;
        justify-content: space-between;

        @media (max-width: 991px) {
            flex-direction: column;
        }
    }

    .pricing-item-1,
    .pricing-item-2,
    .pricing-item-3 {
        max-width: 370px;
        width: 100%;

        .card-body {
            height: 370px;

            @media (max-width: 991px) {
                height: 300px;
            }
        }

        .title {
            padding: 7px 30px;
            font-size: 20px;
        }

        .pricing {
            font-size: 55px;
            font-weight: 600;

            @media (max-width: 1199px) {
                font-size: 50px;
            }
        }

        .month {
            font-size: 24px;
            font-weight: 400;

            @media (max-width: 1199px) {
                display: block;
            }

            @media (max-width: 991px) {
                display: inline-block;
            }
        }
    }

    .pricing-item-2 {
        border: 2px solid #000;

        @media (max-width: 991px) {
            align-self: center;
        }
    }

    .pricing-item-3 {
        @media (max-width: 991px) {
            align-self: end;
        }
    }

    .btn-pricing {
        font-size: 24px;
        padding: 8px 50px;
        background-color: #fff;
        border: 2px solid #000;
    }
}

/* ---  */

/* Results Section */
.results {
    .results-flex {
        gap: 40px;

        @media (max-width: 991px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .results-card {
        max-width: 550px;
        width: 100%;
    }

    .title {
        font-size: 34px;
        font-weight: 600;

        @media (max-width: 1199px) {
            font-size: 24px;
        }
    }

    .results-closed {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -70px;
        width: 55px;
        height: 55px;

        @media (max-width: 575px) {
            display: none;
        }
    }
}

/* ---  */

/* Target Audience Section */
.group-for {
    .group-for-grid {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: 1199px) {
            grid-template-columns: 1fr;
        }

        .card-1,
        .card-2,
        .card-3 {
            display: grid;
            grid-template-columns: 1fr;

            @media (max-width: 1199px) {
                grid-template-columns: 1fr 1fr;
                align-items: center;
                gap: 25px;
            }

            @media (max-width: 575px) {
                grid-template-columns: 1fr;
            }

            .img-wrap {
                padding: 20px;
                height: 220px;

                @media (max-width: 575px) {
                    height: 180px;
                }

                img {
                    object-fit: contain;
                }
            }
        }
    }
}
/* ---  */

.dept-about-us {
    .section-title {
        font-size: 52px;
        margin-bottom: 24px;
        line-height: 1;

        @media (max-width: 1199px) {
            font-size: 40px;
        }

        @media (max-width: 575px) {
            font-size: 26px;
            margin-bottom: 16px;
        }
    }

    .section-text {
        font-weight: 500;

        @media (max-width: 1199px) {
            font-size: 24px;
        }

        @media (max-width: 575px) {
            font-size: 18px;
        }
    }
}

/* Page Dept-exchange  */
.offer {
    .offer-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;

        @media (max-width: 991px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .offer-card {
        display: grid;
    }

    .offer-img-1,
    .offer-img-3 {
        height: 175px;
    }

    .offer-img-1 {
        img {
            height: 100%;
        }
    }

    .offer-img-2 {
        height: 150px;
        border-radius: 30px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .offer-img-2-2 {
        padding: 20px 0;

        img {
            width: 100%;
        }
    }

    .offer-img-3 {
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

/* ---  */

/* Integration Section  */
.integration {
    .integration-grid {
        display: grid;
        grid-auto-rows: 370px;
        grid-template-columns: 1fr 1fr;

        @media (max-width: 1199px) {
            grid-template-columns: 1fr;
            grid-auto-rows: auto;

            .card-2 {
                display: none;
            }
        }

        .card-title {
            line-height: 1;

            span {
                color: #DE51A3;
            }
        }

        .btn {
            margin-top: auto;
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    .telegram {
        margin: 0 5px;
        fill: #a9a9a9;
        width: 60px;
        height: 60px;

        @media (max-width: 575px) {
            width: 30px;
            height: 30px;
        }
    }
}

/* ---  */